/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: #5372F0;
}
.container{
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}
.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}
.text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid #bbb;
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;;
    background: none;
    padding: 10px 15px;
}
.text-input textarea::-webkit-scrollbar{
    width: 0.3rem;
}
.text-input textarea::-webkit-scrollbar-track{
    box-shadow: inset 0 0 0.5rem #999;
    border-radius: 0.3rem;
}
.text-input textarea::-webkit-scrollbar-thumb{
    background: #5372F0;
    border-radius: 0.3rem;
}
.text-input textarea::-webkit-scrollbar-button{
    display: block;
    height: 0.3rem;
}
.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}
.controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #bbb;
}
.controls{
    list-style: none;
    padding: 12px 15px;
}
.controls .icons{
    width: 38%;
}
.controls .icons i{
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: #5372F0;
}
@media screen and (max-width: 660px){
    .container{
        padding: 20px;
    }
    .wrapper .text-input{
        flex-direction: column;
    }
    .text-input .to-text{
        border-left: 0px;
        border-top: 1px solid #bbb;
    }
    .text-input textarea{
        height: 200px;
    }
    .controls .row{
        padding-bottom: 30px;
        position: relative;
    }
    .controls .row .icons{
        position: absolute;
        width: 100%;
        bottom: 0px;
        padding-top: 10px;
    }
    .controls .row.from .icons{
        padding-right: 0px;
        border: none;
        border-top: 1px solid #bbb;
    }
    .controls .row.to .icons{
        padding-left: 0px;
        border: none;
        border-top: 1px solid #bbb;
    }
    .container button{
        padding: 13px;
        font-size: 16px;
    }
    .controls .row select{
        font-size: 16px;
    }
    .controls .exchange{
        font-size: 14px;
    }
}